
/* ================= TOPBAR ================= */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: linear-gradient(
    90deg,
    #485A7B 0%,
    #52598b 35%,
    #591118 75%,
    #EF3043 100%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.topbar .brand {
  font-size: 20px;
  font-weight: bold;
}

.logos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logos img {
  height: 32px;   /* ATUR TINGGI */
  width: auto;    /* BIAR PROPORSIONAL */
  object-fit: contain;
}