.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #e6efff;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 30px;
}


.page-title {
  background: #b7c4d8;
  padding: 18px 35px;
  font-size: 34px;
  font-weight: bold;
  border-radius: 10px;
  color: #41546f;
}


.user-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 260px 1fr; 
  gap: 40px;
  align-items: flex-start;
}


.user-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.user-avatar-card {
  background: #b7c4d8;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 100%; 
}

.avatar-preview {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid rgba(255, 255, 255, 0.3);
}

.upload-btn {
  display: inline-block;
  padding: 8px 16px;
  background: #0c2b57;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.upload-btn:hover {
  background: #1a437a;
}


.btn-logout-link {
  margin-top: 15px;
  color: #e53e3e; 
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

.btn-logout-link:hover {
  color: #c53030;
  text-decoration: underline;
}


.user-form-card {
  background: #ffffff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  background: #f8fafc;
}

.form-group input:focus {
  outline: none;
  border-color: #0c2b57;
  background: #fff;
}

.form-group small {
  display: block;
  color: #718096;
  margin-top: 5px;
  font-size: 12px;
}

/* CONTAINER TTD */
.current-ttd {
  margin-bottom: 10px;
  background: #f1f5f9;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
}


.form-actions {
  margin-top: 35px;
  padding-top: 20px;
  border-top: 1px solid #edf2f7;
}

.btn.primary {
  width: 100%; 
  padding: 14px;
  background: #0c2b57;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.btn.primary:hover {
  background: #1a437a;
  transform: translateY(-1px);
}